body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #d0f1ef;
    margin: 0;
    padding: 20px;
}

header {
    color: rgb(18, 32, 72);
    padding: 10px 0;
    text-align: center;
}

main {
    color: rgb(18, 32, 72);
    padding: 10px 0;
    text-align: center;
}
